## Python Mini-Project: Data Clean-Up, Pt. 1

Pay close attention to the prompts to help guide you through this task.

In [2]:
# Dependencies
import pandas as pd

In [3]:
# load CSV
df = pd.read_csv("Resources/2016-FCC-New-Coders-Survey-Data.csv")

C:\Users\Admin\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (21,57) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# Read with pandas
df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bachelor's degree,Cinematography And Film,7000.0
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,NaN

In [5]:
# Inspect all columns
df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [6]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10,11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
# Use iloc to accomplish this (remember that you need to take the position of the rows and columns into account)
columns = [0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]
extract_df = df.iloc[:,columns]
extract_df.head(100)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,16.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,NaN,Doing an unpaid internship,male,NaN,7.0,NaN,Full-Stack Web Developer,some high school,NaN
96,23.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,male,NaN,40.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
97,26.0,1.0,1.0,1.0,0.0,45000.0,0.0,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music
98,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,"Netherlands (Holland, Europe)",software development,Self-employed freelancer,male,NaN,40.0,30000.0,NaN,bachelor's degree,Public Administration
99,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,10.0,40000.0,Full-Stack Web Developer,bachelor's degree,Anthropology

In [13]:
# Change "0" to "No" and "1" to "Yes" in response columns
# Hint use the df.replace function
extract_df.AttendedBootcamp.replace(to_replace=[0 ,1], value=['no', 'yes'])
extract_df.head(100)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,no,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,no,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,16.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,NaN,Doing an unpaid internship,male,NaN,7.0,NaN,Full-Stack Web Developer,some high school,NaN
96,23.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,male,NaN,40.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
97,26.0,yes,1.0,1.0,0.0,45000.0,0.0,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music
98,25.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,"Netherlands (Holland, Europe)",software development,Self-employed freelancer,male,NaN,40.0,30000.0,NaN,bachelor's degree,Public Administration
99,25.0,no,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,10.0,40000.0,Full-Stack Web Developer,bachelor's degree,Anthropology

In [8]:
# Calculate total number of respondents in survey
# consider using the len() function
tot=len(extract_df["AttendedBootcamp"])
tot

15620

In [21]:
# Extract rows corresponding only to people who attended a bootcamp
# Filter using df.loc on the AttendedBootcamp column
attended_df = extract_df.loc[extract_df["AttendedBootcamp"] == "yes"]

attended_df.head(20)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20.0,67000.0,NaN,bachelor's degree,Biology
97,26.0,yes,1.0,1.0,0.0,45000.0,0.0,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,0.0,10.0,40000.0,NaN,master's degree (non-professional),Music
130,41.0,yes,1.0,1.0,1.0,75000.0,1.0,3.0,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,1.0,30.0,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,yes,0.0,NaN,1.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60.0,NaN,NaN,"some college credit, no degree",NaN
206,36.0,yes,1.0,0.0,0.0,NaN,0.0,2.0,more than 1 million,NaN,Japan,NaN,A stay-at-home parent or homemaker,female,1.0,20.0,NaN,Mobile Developer,bachelor's degree,Communications
209,25.0,yes,1.0,0.0,1.0,NaN,1.0,NaN,more than 1 million,NaN,Mexico,NaN,Not working but looking for work,male,NaN,40.0,NaN,Full-Stack Web Developer,"professional degree (MBA, MD, JD, etc.)",Computer Science
236,52.0,yes,1.0,1.0,0.0,45000.0,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Self-employed freelancer,male,NaN,30.0,45000.0,NaN,"some college credit, no degree",NaN
272,38.0,yes,1.0,1.0,1.0,50000.0,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5.0,NaN,NaN,bachelor's degree,Structural Engineering
273,35.0,yes,1.0,1.0,1.0,60000.0,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,10.0,54000.0,NaN,bachelor's degree,Public Administration
285,23.0,yes,1.0,1.0,0.0,40000.0,1.0,NaN,NaN,NaN,United States of America,software development,Employed for wages,male,NaN,40.0,NaN,NaN,bachelor's degree,Journalism
315,31.0,yes,1.0,0.0,0.0,NaN,0.0,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Self-employed freelancer,genderqueer,NaN,20.0,35000.0,User Experience Designer,bachelor's degree,Communications
316,22.0,yes,1.0,0.0,0.0,NaN,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,male,NaN,30.0,NaN,Front-End Web Developer,associate's degree,General Studies
328,30.0,yes,0.0,NaN,0.0,NaN,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,sales,Employed for wages,female,NaN,20.0,35000.0,Front-End Web Developer,bachelor's degree,Advertising and Marketing
426,30.0,yes,1.0,0.0,1.0,NaN,1.0,NaN,"less than 100,000",NaN,United States of America,education,Employed for wages,male,NaN,40.0,NaN,Full-Stack Web Developer,bachelor's degree,Liberal Arts
435,26.0,yes,1.0,0.0,1.0,NaN,1.0,NaN,more than 1 million,NaN,United States of America,NaN,Not working but looking for work,male,NaN,50.0,NaN,Front-End Web Developer,associate's degree,Psychology
449,38.0,yes,1.0,0.0,0.0,NaN,1.0,NaN,more than 1 million,NaN,United States of America,NaN,Not working but looking for work,female,NaN,20.0,NaN,NaN,bachelor's degree,Architecture
465,40.0,yes,0.0,NaN,1.0,NaN,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,A stay-at-home parent or homemaker,female,NaN,8.0,NaN,Quality Assurance Engineer,master's degree (non-professional),English
470,45.0,yes,0.0,NaN,0.0,NaN,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,50.0,NaN,Mobile Developer,bachelor's degree,Liberal Arts
478,37.0,yes,0.0,NaN,1.0,NaN,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,NaN,female,NaN,50.0,NaN,Full-Stack Web Developer,bachelor's degree,Sociology

In [52]:
# Calculate average age of attendees
# Pull out the `Age` series and take the average of it
age=round(attended_df["Age"].mean())
age

31

In [15]:
# Calculate how many people attended a bootcamp
# Count the values of the AttendedBootcamp column
attendance=attended_df["AttendedBootcamp"].count()

attendance

953

In [17]:
# Calculate how many attendees hold degrees
# It is easier to do this with `value_counts() count values for the SchoolDegree column
sch_dg=attended_df["SchoolDegree"].value_counts()

sch_dg

bachelor's degree                           462
some college credit, no degree              116
master's degree (non-professional)           96
professional degree (MBA, MD, JD, etc.)      39
high school diploma or equivalent (GED)      38
associate's degree                           32
trade, technical, or vocational training     24
some high school                             10
Ph.D.                                         8
no high school (secondary school)             7
Name: SchoolDegree, dtype: int64

In [48]:
# Count the number of records where the person is a degree holder
# There are several ways to approach this. You can look for people who have degrees
# or for people who don't have degrees depending on the value of the SchoolDegree column
bach = attended_df["AttendedBootcamp"].loc[attended_df["SchoolDegree"] == "bachelor's degree"].count()
MsD=attended_df["AttendedBootcamp"].loc[attended_df["SchoolDegree"] == "master's degree (non-professional)"].count()
prof=attended_df["AttendedBootcamp"].loc[attended_df["SchoolDegree"] == "professional degree (MBA, MD, JD, etc.)"].count()
assoc=attended_df["AttendedBootcamp"].loc[attended_df["SchoolDegree"] == "associate's degree"].count()
phd=attended_df["AttendedBootcamp"].loc[attended_df["SchoolDegree"] == "Ph.D."].count()
dg_h=bach+MsD+prof+assoc+phd
dg_h

637

In [38]:
# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
attended_df=attended_df.replace({"genderqueer": "non-binary",
                               "agender": "non-binary", "trans":"non-binary"})
nw_gdr_count=attended_df["Gender"].value_counts()
nw_gdr_count

male          496
female        326
non-binary     11
Name: Gender, dtype: int64

In [59]:
# Calculate percentage of respondents who attended a bootcamp

pct_att=round((attendance/tot)*100,4)
pct_att

6.1012

In [61]:
# Calculate percentage of respondents belonging to each gender

m = attended_df["AttendedBootcamp"].loc[attended_df["Gender"] == "male"].count()
pct_m=round((m/sum(nw_gdr_count))*100,4)
f = attended_df["AttendedBootcamp"].loc[attended_df["Gender"] == "female"].count()
pct_f=round((f/sum(nw_gdr_count))*100,4)
nb = attended_df["AttendedBootcamp"].loc[attended_df["Gender"] == "non-binary"].count()
pct_nb=round((nb/sum(nw_gdr_count))*100,4)

print(pct_m)
print(pct_f)
print(pct_nb)

59.5438
39.1357
1.3205

In [49]:
# Calculate percentage of attendees with a college degree

pct_d=round((dg_h/attendance)*100,4)
pct_d

66.8416

In [50]:
# Calculate average post-bootcamp salary
avg=round(attended_df["BootcampPostSalary"].mean(),4)
avg

63740.5061

In [62]:
# Create a new table consolidating above calculations
summary_df=pd.DataFrame([{"Total Surveyed":tot,
                          "Total Bootcamp attendees":attendance,
                          "Attended bootcamp (%)":pct_att,
                          "Average Age":age,
                          "Degree holder (%)":pct_d,
                          "% Male":pct_m,
                          "% Female":pct_f,
                          "% Non-binary":pct_nb,
                          "Average Post Bootcamp Salary":avg}])
                         
summary_df

,Total Surveyed,Total Bootcamp attendees,Attended bootcamp (%),Average Age,Degree holder (%),% Male,% Female,% Non-binary,Average Post Bootcamp Salary
0,15620,953,6.1012,31,66.8416,59.5438,39.1357,1.3205,63740.5061

In [63]:
# Improve formatting before outputting spreadsheet

summary_df["Attended bootcamp (%)"] = summary_df["Attended bootcamp (%)"].map("%{:.2f}".format)
summary_df["Degree holder (%)"] = summary_df["Degree holder (%)"].map("%{:.2f}".format)
summary_df["% Male"] = summary_df["% Male"].map("%{:.2f}".format)
summary_df["% Female"] = summary_df["% Female"].map("%{:.2f}".format)
summary_df["% Non-binary"] = summary_df["% Non-binary"].map("%{:.2f}".format)
summary_df["Average Post Bootcamp Salary"] = summary_df["Average Post Bootcamp Salary"].map("${:.2f}".format)
summary_df

,Total Surveyed,Total Bootcamp attendees,Attended bootcamp (%),Average Age,Degree holder (%),% Male,% Female,% Non-binary,Average Post Bootcamp Salary
0,15620,953,%6.10,31,%66.84,%59.54,%39.14,%1.32,$63740.51

In [66]:
# Export to Excel
# Use df.to_excel to export to excel. Don't include the indexes

summary=summary_df.to_excel("Output/DataCleanSummary.xls", index=False, header=True)